.accommodation { 
  @media($tablet){order:3;}
}

.accommodation__wrapper {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around;
  text-align: left;
}

.accommodation__title {
    @media($tablet) {
    display: table;
    padding:0 80px;
    background-color: #ffffff;
  }
}