.advantage {
    background-color: $main-color-blue;
    color: $alternative-text-color;
}

.advantage__img {
    display: block;
    height: 260px;
    overflow: hidden;
}

.advantage__img img {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.advantage__list {
    background-color: $main-color-grey;
    color: $main-text-color;
    @mixin wrap advantage__list;
}

.advantage__item {
    text-align: center;
    padding: 1vr 0;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

.advantage__item:last-child {
    border: none;
}
