.advantage {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media($tablet) {
    flex-wrap: nowrap;
  }
}

.advantage__text {
  position: relative;
  flex-grow: 1;
  margin: 0;
  width: 100%;
  background-color: $main-color-blue;
  color: $alternative-text-color;

  @media($tablet) {
    padding-right: 40px;
    padding-left: 40px;
    width: 33.3%;
    background-image: none;
  }
  @media($desktop) {
    padding: 65px 40px;
  }

  &--first {
    padding-top: 57px;
    padding-bottom: 40px;

    @media($tablet) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  &--second {
    padding-top: 40px;
    padding-bottom: 40px;

    @media($tablet) {
      order: 3;
    }
  }
  &--first,
  &--second {
    @media($desktop) {
      padding-top: 65px;
      padding-bottom: 65px;
    }
  }
}

@media($tablet) {
  .advantage__text--second {
    order: 3;
  }
}

.advantage__triangle {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  z-index: 1;
  display: inline-block;
  margin-bottom: -17px;
  margin-bottom: -17px;
  width: 0;
  height: 0;
  border-width: 17px 50vw 0 50vw;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;

  @media ($tablet) {
    display: none;
  }
}

.advantage__img-box {
  flex-grow: 1;
  overflow: hidden;
  max-height: 260px;

  @media($tablet) {
    order: 2;
    max-height: 256px;
    width: 66.6%;
  }
}

.advantage__img {
  width: auto;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  background-color: $main-color-grey;
  color: $main-text-color;

  @media($tablet) {
    flex-wrap: nowrap;
    min-height: 256px;
  }
}

.advantage__item {
  margin: 0 20px;
  padding: 28px 26px;
  width: 100%;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  text-align: center;

  @media($tablet) {
    margin: auto;
  }
  @media($tablet) {
    padding: 40px;
  }
  @media($desktop) {
    padding: 50px 60px 60px 60px;
  }
  @media($tablet) {
    width: 33%;
  }
  @media($tablet) {
    border-bottom: none;
  }
}

.advantage__item:last-child {
  border: none;
}
