.advantage {
  display: flex;
  flex-wrap: wrap;

  @media($tablet) {
    flex-wrap: nowrap;
  }
}

.advantage__text {
  width: 100%;
  background-color: $main-color-blue;
  color: $alternative-text-color;

  @media($tablet) {
    width: 33.3%;
  }
}

@media($tablet) {
  .advantage__text--left {
    order: 1;
  }
  .advantage__text--right {
    order: 3;
  }
}

.advantage__img-box {
  overflow: hidden;
  max-height: 260px;

  @media($tablet) {
    order: 2;
    width: 66.6%;
  }
}

.advantage__img {
  width: auto;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  background-color: $main-color-grey;
  color: $main-text-color;

  @media($tablet) {
    flex-wrap: nowrap;
  }
}

.advantage__item {
  margin: 0 20px;
  padding: 26px;
  width: 100%;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  text-align: center;

  @media($tablet) {
    margin: 0;
  }
  @media($tablet) {
    padding: 40px;
  }
  @media($desktop) {
    padding: 50px 60px 60px 60px;
  }
  @media($tablet) {
    width: 33%;
  }
  @media($tablet) {
    border-bottom: none;
  }
}

.advantage__item:last-child {
  border: none;
}
