.allure {
  max-width: 460px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 30px auto; @media (min-width: $tablet-width) { margin: 60px auto 40px auto; }
}

.allure__text {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 21px;
}

.allure__title {
  margin-bottom: 26px;
  @media (min-width: $tablet-width) {
    margin-bottom:40px;
  }
}

.allure__title--h1 {
   @mixin set-font calc($line * 1.5),
  calc($line * 1.75); 
    @media (min-width: $tablet-width) {
    @mixin set-font calc(2.15 * $line), calc($line * 1.75);
  }
}

.allure__title--h2 {
   @mixin set-font calc($line * 1.25),
  calc($line * 1.75); 
    @media (min-width: $tablet-width) {
    @mixin set-font calc(2.15 * $line), calc($line * 1.75);
    margin-bottom: 14px;
  }
}