.checkbox {
  @mixin set-font calc($line * 1.25),
  $line;

  position: relative;
  margin-bottom: 20px;
  width: 100%;
  text-transform: none;
  font-family: $font-family-bold;
  cursor: pointer;

  @media($tablet) {
    width: 40%;
  }
  @media($desktop) {
    width: 25%;
  }
}

.checkbox__label {
  text-align: left;
}

.checkbox__label::before {
  display: inline-block;
  margin-right: 15px;
  width: 55px;
  height: 55px;
  border-radius: 10%;
  background-color: #f2f2f2;
  content: "";
  vertical-align: middle;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 25px;
  height: 25px;
  background: url(/img/icons/icon-tick.svg) no-repeat;
  content: "";
  vertical-align: middle;
}