.checkbox__label {
  font-weight: $font-weight-bold;
  font-size: $font-size-big;
  text-align: left;
  text-transform: none;
  cursor: pointer;
  position: relative;
}

.checkbox__input {
  display: none;
}

.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 55px;
  height: 55px;
  margin-right: 20px;
  vertical-align: middle;
  background-color: #f2f2f2;
  border-radius: 10%;
}

.checkbox__input:checked + .checkbox__label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  top: 30px;
  left: 25px;
  background: url(/img/icon-tick.svg) no-repeat;
}
