.description {
  min-width: 256px;
  text-align: center;
  padding: 40px 20px;
  box-sizing: border-box;
  @media (min-width: $tablet-width) {
    padding: 40px;
  }
  @media (min-width: $desktop-width) {
    padding: 60px;
  }
  &--main {
    max-width: 570px;
    margin: auto;
  }
}
