.description {
  position: relative;
  box-sizing: border-box;
  padding: 40px 20px;
  min-width: 256px;
  text-align: center;

  @media($tablet){
    padding: 45px;
  }
  @media($desktop){
    padding: 65px;
  }

  &--main {
    margin: auto;
    max-width: 570px;
  }

  &--secondary {
    margin: auto;
    max-width: 530px;
    padding: 40px 20px 20px 20px;
  }
}