.detail {
  @media (min-width: $tablet-width) {
    order: 4;
  }
  display:flex;
}

.detail__input {
  background-color: $main-color-blue;
  color: $alternative-text-color;
  padding-left: 0;
  @mixin set-font calc(1.5 * $line),
  calc(2.15 * $line);
  margin: 20px auto;
  text-transform: uppercase;
  padding: 14px 0;
  width: 100%;
  @media (min-width: $tablet-width) {
    width: 50%
  }
}

.detail__label,
.detail__textarea {
  width: 100%;
}

.detail__label {
  font-family: $font-family-bold;
  color: $main-text-color;
  text-align: center;
  padding: 20px;
  @mixin set-font calc($line * 1.25),
  calc($line * 1.75);
  @media (min-width: $tablet-width) {
    @mixin set-font calc($line * 1.50), calc($line * 1.86);
  }
}

.detail__textarea {
  @mixin set-font calc($line * 1.25),
  calc($line * 1.75);
  padding: 20px;
}

.detail__necessarily {
  text-align: right;
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
  }
  @media (min-width: $tablet-width) {
    width: 50%
  }
}
