.detail {
  display:flex;

  @media($tablet){
    order: 4;
  }
}

.detail__input {
  @mixin set-font calc(1.5 * $line),
  calc(2.15 * $line);

  margin: 20px auto;
  padding: 14px 0;
  padding-left: 0;
  width: 100%;
  background-color: $main-color-blue;
  color: $alternative-text-color;
  text-transform: uppercase;

  @media($tablet){
    width: 50%
  }
}

.detail__label,
.detail__textarea {
  width: 100%;
}

.detail__label {
  @mixin set-font calc($line * 1.25),
  calc($line * 1.75);

  padding: 20px;
  color: $main-text-color;
  text-align: center;
  font-family: $font-family-bold;

  @media($tablet){
    @mixin set-font calc($line * 1.50), calc($line * 1.86);
    background-color: #ffffff;
  }
}

.detail__textarea {
  @mixin set-font calc($line * 1.25),
  calc($line * 1.75);

  padding: 20px;
}

.detail__necessarily {
  display: none;
  text-align: right;

  @media($tablet){
    display: block;
    width: 50%;
  }
}
