.form-box {
  margin: 20px 0;
  padding: 0 20px;
  width: 100%;
  border: none;

  @media($tablet){
    padding-right: 0;
    padding-left: 0;
  }
}

.form-box__title {
  @mixin set-font calc($line * 1.25),
  calc($line * 1.75);

  margin-bottom:14px;
  color: $main-text-color;
  text-align: center;
  font-family: $font-family-bold;

  @media($tablet){
    @mixin set-font calc($line * 1.50), calc($line * 1.86);

    margin-bottom: 50px;
    max-width: 280px;
  }

  &--left {
    @media($tablet){
      text-align: left;
    }
  }
  &--hidden {
    @media($tablet){
      display: none;
    }
  }
}
