.form-box {
    border: none;
    text-align: justify;
}

.form-box__title {
    font-weight: $font-weight-bold;
    color: $main-text-color;
    font-size: $font-size-big;
    line-height: 1vr;
    text-align: center;
    padding-top: .3vr;
    padding-bottom: .3vr;
}
