.icon-social {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  fill: #ffffff;
}

.logo {
	fill: #000000;

  &:hover {
    fill: #81b3d2;
  }
  ;
}

.icon-cross {
	fill:#ffffff;
} 
.icon-video-controls {
	fill: #333333;

	@media($tablet) {
		fill:#ffffff;
	}
}

.icon-like {
	fill: #b2b2b2;

	@media($desktop) {
		fill:#ffffff;
	}
}

.icon-phone{
	position: absolute;
	right: 0;
	padding: 20px;
	background-color: #e6e6e6;

	@media($desktop) {
	right: 90px;
}
}

.icon-mail{
	position: absolute;
	right: 0;
	padding: 21px;
	background-color: #e6e6e6;

	@media($desktop) {
	right: 10px;
}
}
