.input {
    font-weight: $font-weight-bold;
    color: $main-text-color;
    font-size: $font-size-normal;
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border: none;
}
