.map {
  margin-bottom: 10px;
}

.map__button {
  @mixin set-font calc(1.5 * $line),
  calc(2.15 * $line);

  margin: 20px auto;
  padding: 14px 0;
  max-width: 280px;
  width: 100%;
  background-color: $main-color-blue;
  color: $alternative-text-color;

  @media($tablet){
    max-width: 458px;
  }
}

.map__view {
  height: 350px;
  background: url(../img/bg-map-mobile@1x.jpg) no-repeat;
}

