.map {
	margin-bottom: 10px;
}
.map__button {
	background-color: $main-color-blue;
	color:$alternative-text-color;
	display: block;
	line-height: 2vr;
	margin: 36px 20px;
}

.map__view {
	background: url(../img/bg-map-mobile@1x.jpg) no-repeat;
	height: 350px;
}