.map {
  margin-bottom: 10px;
}

.map__button {
  background-color: $main-color-blue;
  color: $alternative-text-color;
  @mixin set-font calc(1.5 * $line),
  calc(2.15 * $line);
  width: 100%;
  padding: 14px 0;
  max-width: 280px;
  margin: 20px auto;
}

.map__view {
  background: url(../img/bg-map-mobile@1x.jpg) no-repeat;
  height: 350px;
}

@media (min-width: $tablet-width) {
  .map__button {
    max-width: 458px;
  }
}
