.opinion {
  width: 100%;
  @media($tablet) {
    order: 0;
    width: 50%;
    text-align: left;
    box-shadow: 21px 0px 0px -20px #e5e5e5;
  }
}

.opinion__title {
  @media($tablet) {
    margin-bottom: 60px;
  }
}