.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
  padding: 20px 40px;
  background-color: #fefefe;

  @media($tablet){
    flex-direction: row;
  }
  @media($tablet){
    margin: -10px auto;
  }
}

.page-footer__link {
  @mixin set-font calc($line * 1.5),
  calc($line * 1.5);

  color: $main-text-color;
  font-family: $font-family-bold;
}

.page-footer__link,
.page-footer__social,
.page-footer__copyright {
  padding: 20px;
  text-align: center;

  @media($tablet){
    width: 33%;
  }
}

.page-footer__copyright {
  @media($desktop){
    text-align: right;
  }
}
