.page-header {
  position: relative;
}

.page-header__logo {
  max-height: 56px;
  background-color: #fff; 
}

.page-header__logo-img {
  position: relative;
  z-index:1;
  display: block;
  margin: 0 auto;
  width: 102px;
  height: 83px;
}

.page-header__photo {
  display: flex;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-header__photo--main {
  min-height: 390px;

  @media($tablet){min-height: 518px;}
}

.page-header__photo--secondary {
  min-height: 150px;

  @media($tablet){ min-height: 300px;}
}

.page-header__photo-text {
  margin: auto; 
}
.page-header__photo-text--main {
  padding: 0 20px; 
}

.page-header__photo-text--secondary {
  padding: 0 40px; 
}

.page-header__photo-img { 
  width: 100%; 
}
