.page-footer {
  text-align: center;
  background-color: #fefefe;

  &__link {
  color: $main-text-color;
  font-family: $font-family-bold;
  @mixin set-font calc($line * 1.5),
  calc($line * 1.5);
  @mixin set-padding calc(2.5 * $line),
  calc(2.5 * $line);
  display: inline-block;
  vertical-align: middle;
  }
}

@media (min-width: $tablet-width){
  .page-footer {
  max-width: 768px;
  margin: 0 auto;
  @mixin clearfix;
  @mixin set-padding calc(2.5 * $line),
  calc(2.5 * $line);

  &__link {
    float: left;
    width: 33.3%;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  &__social {
    float: left;
    width: 33.3%;
  }
  }
}