.page-header__main-menu {
  background-color: $main-color-blue;
}

.page-header__logo {
  height: 55px;
  background-color: #fff;
}

.page-header__logo img {
  display: block;
  width: 102px;
  height: 83px;
  margin: auto;
}

.page-header {
  position: relative;
  height: 390px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
}
