.page-footer {
  display: flex;
  flex-direction: column;
  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
  align-items: center;
  justify-content: space-between;
  background-color: #fefefe;
  margin: 0px auto;
  @media (min-width: $tablet-width) {
    margin: -10px auto;
  }
  padding: 20px 40px;
}

.page-footer__link {
  color: $main-text-color;
  font-family: $font-family-bold;
  @mixin set-font calc($line * 1.5),
  calc($line * 1.5);
}

.page-footer__link,
.page-footer__social,
.page-footer__copyright {
  padding: 15px;
  text-align: center;
  @media (min-width: $tablet-width) {
    width: 33%;
  }
}

.page-footer__copyright {
  @media (min-width: $desktop-width) {
    text-align: right;
  }
}
