.perk {
    padding: 1.2vr 25px .2vr 60px;
}

.perk__item {
    padding-bottom: 20px;
    position: relative;
    padding-left: 10px;
}

.perk__item--house::before {
    content: "";
    background-image: url(/img/icon-house.svg);
    background-repeat: no-repeat;
    background-size: 38px;
    position: absolute;
    height: 38px;
    width: 39px;
    left: -35px;
    top: -10px;
}

.perk__item--gift::before {
    content: "";
    background-image: url(/img/icon-gift.svg);
    background-repeat: no-repeat;
    background-size: 32px;
    position: absolute;
    height: 38px;
    width: 39px;
    left: -35px;
    top: -10px;
}

.perk__item--burger::before {
    content: "";
    background-image: url(/img/icon-burger.svg);
    background-repeat: no-repeat;
    background-size: 34px;
    position: absolute;
    height: 38px;
    width: 39px;
    left: -35px;
    top: -5px;
}
