.personality {
  width: 100%;

  @media($tablet) {
    width: 40%;
  }
  @media($tablet) {
    order: 1;
    text-align: left;
  }
}

.personality__column {
  width: 100%;
}

.personality__input {
  margin-left: 20px;
  width: 100%;
}
