.photo {
  padding-bottom: 20px;
  border-top: 1px solid rgba(1, 1, 1, 0.2);
  &:last-of-type {
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }
}

.photo__caption {
    &--text {text-transform: none;}
}

.photo__img-box {
  display: block;
  padding: 20px;
}

.photo__img {
  margin: 0 auto;
}

.photo__like {
  font-family: $font-family-bold;  
  color:$main-text-color;
  padding-left: 50px;
  background-image: url(/img/icon-like.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 20px 0;
}

