.radio-btn {
  font-family: $font-family-bold;
  @mixin set-font calc($line * 1.25), $line;
  text-transform: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items:center;
  width: 100%;
  margin-bottom: 20px;
}
