.radio-btn__label {
    font-weight: $font-weight-bold;
    font-size: $font-size-big;
    text-align: left;
    text-transform: none;
    cursor: pointer;
    position: relative;
}

.radio-btn__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.radio-btn__control-indicator {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-right: 20px;
    vertical-align: middle;
    background-color: #f2f2f2;
    border-radius: 50%;
}

.radio-btn__input:checked ~ .radio-btn__control-indicator::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $second-text-color;
    vertical-align: middle;
    top: 25px;
    left: 25px;
}