.social-link {
  display: inline-block;
  position: relative;
  min-width: 46px;
  height: 48px;
  background-color: $main-color-blue;
  vertical-align: middle;
  font-size: 0;

  /*&--twitter {
    background-image: url(/img/icon-twitter.svg);
    background-position: center;
    background-size: 18px 15px;
    background-repeat: no-repeat;
  } 
  &--facebook {
    background-image: url(/img/icon-facebook.svg);
    background-position: center;
    background-size: 18px 15px;
    background-repeat: no-repeat;
  }
  &--youtube {
    background-image: url(/img/icon-youtube.svg);
    background-position: center;
    background-size: 18px 15px;
    background-repeat: no-repeat;
  }*/

}

