.title {
  padding-left: 20px;
  padding-right: 20px;
  font-family: $font-family-bold;
  @mixin set-font calc($line * 1.25),
  calc($line * 1.75);
  &--h1 {
    @mixin set-padding calc(0.5 * $line),
    calc(0.5 * $line);
  }
  &--h2 {
    @mixin set-padding calc(0.5 * $line),
    calc(0.5 * $line);
  }
  &--h3 {
    @mixin set-font $line,$line;
  }
}
