.title {
    font-family: $font-family-bold;
    font-size: $font-size-big;
    line-height: 1vr;

    &--h1 {
        padding-bottom: .8vr;
    }
	
	&--h3 {
        font-size: $font-size-normal;
        padding: 0;
    }

    .text {
    	text-transform: 
    }

}
