.title {
  width: 100%;
  font-family: $font-family-bold;
  margin: 0;
  @mixin set-font calc($line * 1.25),
  calc($line * 1.75);
  &--h1 {
    @mixin set-padding calc(0.5 * $line),
    calc(0.5 * $line);
  }
  &--h2 {
    @mixin set-padding calc(0.5 * $line),
    calc(0.5 * $line);
  }
  &--h3 {
    @mixin set-font $line,
    calc(1.75 * $line);
  }
  &--allure {
    @mixin set-padding calc(0.5 * $line),
    calc(0.5 * $line);
    @mixin set-font calc(1.5 * $line),
    calc(1.75 * $line); 
  }
}


@media (min-width: $tablet-width){
.title {
  @mixin set-font calc(1.5 * $line),
  calc(1.86 * $line);
  &--h3 {
    @mixin set-font $line,
    calc(1.5 * $line);
  }
}
}