.video-view {
  @media($tablet) {
    margin-bottom: -50px;
  }
  @media($desktop) {
    margin-bottom: -10px;
  }
}

.video-controls {
  position: relative;
  top: -45px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  background-color: rgba(1, 1, 1, 0.5);

  @media($tablet) {
    top: -92px;
    flex-wrap: nowrap;
    margin: 0;
    padding: 10px 0;
  }
}

.video-controls__timeline {
  position: relative;
  margin: 22px 20px;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);

  @media($tablet) {
    order: 2;
    margin: 30px 20px;
  }
}

.video-controls__mark {
  position: absolute;
  top: -3px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #fff;
}

.video-controls__replay {
  flex-grow: 3;
  margin: auto 20px;

  @media($tablet) {
    order: 1;
    margin: auto 35px;
  }
}

.video-controls__subtitles {
  flex-grow: 1;
  margin: auto 20px;

  @media($tablet) {
    order: 3;
    width: 10%;
  }
}

.video-controls__fullscreen {
  flex-grow: 1;
  margin: 20px 10px;

  @media($tablet) {
    order: 4;
    width: 10%;
  }
}
