.allure {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 480px;
  text-align: center;

  @media($tablet) {
    margin: 60px auto 40px auto;
  }
  @media($desktop) {
    margin: 70px auto 40px auto;
  }
}

.allure__text {
  @mixin set-font $line,
  calc($line * 1.75);

  margin: 0;
  margin-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
}

.allure__title {
  margin-bottom: 26px;

  @media($tablet) {
    margin-bottom: 30px;
  }
}

.allure__title--h1 {
  @mixin set-font calc($line * 1.5),
  calc($line * 1.75);

  @media($tablet) {
    @mixin set-font calc(2.15 * $line),
    $line;
  }
}

.allure__title--h2 {
  @mixin set-font calc($line * 1.25),
  calc($line * 1.75);

  @media($tablet) {
    @mixin set-font calc(2.15 * $line),
    calc($line * 1.75);
  }
}