.checkbox {
  @mixin set-font calc($line * 1.25),
  $line;

  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
  text-align: left;
  text-transform: none;
  font-weight: 700;
  cursor: pointer;

  @media($tablet) {
    margin-bottom: 35px;
    margin-left: 30px;
    max-width: 250px;
    width: 35%;
  }
  @media($desktop) {
    margin-left: 0;
    width: auto;
  }

  &:first-of-type {
    @media ($tablet) {
      order: 1;
    }
  }
  &:nth-of-type(2) {
    @media ($tablet) {
      order: 3;
    }
  }
  &:nth-of-type(3) {
    @media ($tablet) {
      order: 2;
    }
  }
  &:last-child {
    @media ($tablet) {
      order: 4;
    }
  }
}

.checkbox__label {
  position: relative;
  display: block;
  padding: 20px 20px 20px 75px;
}

.checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__control-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  margin-top: auto;
  margin-right: 20px;
  margin-bottom: auto;
  width: 55px;
  height: 55px;
  border-radius: 10%;
  background-color: $base-color-lightgrey;
  vertical-align: middle;

  &:hover {
    background-color: $base-color-grey;
  }
  &:active {
    background-color: #e5e5e5;
    opacity: 0.3;
  }
}

.checkbox__input:checked ~ .checkbox__control-indicator::before {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: url(/img/icon-tick.svg) no-repeat;
  content: "";
  vertical-align: middle;
}
