.contact {
  @media($tablet) {
    order: 2;
    margin-bottom: 0;
  }
}

.contact__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 25px;
  width: 100%;
  text-align: left;

  @media($tablet) {
    margin-bottom: 0;
  }
  @media($desktop) {
    margin-top: 55px;
  }
}

.contact__column {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media($tablet) {
    margin-bottom: 30px;
  }
  @media($desktop) {
    width: 50%;
  }
}

.contact__title {
  @media($tablet) {
    margin-bottom: 25px;
    width: 30%;

    &::before,
    &::after {
      position: absolute;
      width: 20%;
      height: 1px;
      background-color: #e5e5e5;
      content: '';
    }
    &::before {
      top: 60%;
      right: 0%;
      margin-top: -1px;

      @media($desktop) {
        top: 70%;
      }
    }
    &::after {
      top: 60%;
      left: 0%;
      margin-top: -1px;

      @media($desktop) {
        top: 70%;
      }
    }
  }
  @media($desktop) {
    margin-bottom: 40px;

    &::before,
    &::after {
      top: 70%;
      width: 29%
    }
  }
}

.contact__input {
  width: 100%;

  @media($desktop) {
    margin-left: 20px;
    width: 60%;
  }
}

.contact__label {
  margin-bottom: 7px;
  margin-left: 20px;
  width: 100%;

  @media($desktop) {
    margin-bottom: 0;
    margin-left: 0;
    width: initial;
  }
}

.contact__error {
  order: 1;
  margin: 10px 20px 15px 20px;
  color: $error-color;
  text-transform: none;

  @media($tablet) {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }
  @media($desktop) {
    top: -30px;
    left: 104px;
  }
}
