.description {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  min-width: 256px;
  text-align: center;

  &--main {
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 530px;

    @media($tablet) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @media($desktop) {
      padding: 65px;
    }
  }
  &--secondary-photo {
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 480px;

    @media($tablet) {
      padding-top: 75px;
      padding-bottom: 70px;
    }
    @media($desktop) {
      padding-top: 115px;
      padding-bottom: 75px;
    }
  }
  &--secondary-form {
    padding-top: 40px;
    padding-bottom: 20px;
    max-width: 480px;

    @media($tablet) {
      padding-top: 75px;
      padding-bottom: 55px;
    }
    @media($desktop) {
      padding-top: 115px;
      padding-bottom: 75px;
    }
  }
}
