.description {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  min-width: 256px;
  text-align: center;

  &--main {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 35px;
    padding-left: 35px;
    max-width: 600px;

    @media($tablet) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media($desktop) {
      padding: 65px;
    }
  }
  &--secondary-photo {
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 480px;

    @media($tablet) {
      padding-top: 75px;
      padding-bottom: 70px;
    }
    @media($desktop) {
      padding-top: 115px;
      padding-bottom: 75px;
    }
  }
  &--secondary-form {
    padding-top: 38px;
    padding-bottom: 18px;
    max-width: 480px;
    border-bottom: 1px solid #dbdbdb;

    @media($tablet) {
      padding-top: 75px;
      padding-bottom: 55px;
      border-bottom: none;
    }
    @media($desktop) {
      padding-top: 120px;
      padding-bottom: 40px;
    }
  }
}
