  .form-box {
    margin-right: 0;
    margin-left: 0;
    padding: 0 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;

    &:last-of-type{
      border-bottom:none;
    }

    @media($tablet) {
      margin-bottom: 20px;
      padding-right: 0;
      padding-left: 0;
      border: none;
    }
  }
  
  .form-box__title {
    @mixin set-font calc($line * 1.25),
    calc($line * 1.75);

    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    color: $base-color-black;
    font-family: $font-family-bold;

    @media($tablet) {
      @mixin set-font calc($line * 1.50),
      calc($line * 1.86);
    }

    &--center {
      background-color: $base-color-white;

      @media($tablet) {
        width: 100%;
        text-align: center;
      }
    }
    &--left {
      @media($tablet) {
        text-align: left;
      }
    }
    &--hidden {
      margin: 0;

      @media($tablet) {
        display: none;
      }
      @media($desktop) {
        display: inline;
      }
    }
  }
