.form-box {
  padding: 0 20px 5px 20px;
  width: 100%;
  border: none;
  box-shadow: 0px -1px 0px 0px #e5e5e5;
  text-align: center;
  margin-left: 0;
  margin-right: 0;

  @media($tablet){
    margin-bottom: 40px;
    padding-right: 0;
    padding-left: 0;
  }
}

.form-box__title {
  @mixin set-font calc($line * 1.25),
  calc($line * 1.75);

  display: inline-block;
  margin-top: 20px;
  margin-bottom:20px;
  color: $main-text-color;
  font-family: $font-family-bold;

  @media($tablet){
    @mixin set-font calc($line * 1.50), calc($line * 1.86);

    margin-bottom: 50px;
    background-color: #ffffff;
  }

  &--center  {   

    @media($tablet) {
      display: table;
      padding: 0 80px;
      background-color: #ffffff;
      text-align: center;
      max-width: 280px;
    }
  }

  &--left {
    @media($tablet){
      text-align: left;
    }
  }
  &--hidden {
    margin: 0;

    @media($tablet){
      display: none;
    }

    @media($desktop){
      display:inline;
    }
  }

}
