.input {
  @mixin set-font $line,
  $line;

  padding: 15px 0px 15px 20px;
  outline: none;
  border: 5px solid $base-color-lightgrey;
  background-color: $base-color-lightgrey;
  color: $base-color-black;
  font-weight: 700;

  &:hover {
  	border: 5px solid $base-color-grey;
    background-color: $base-color-grey;
  }
  &:focus {
    border: 5px solid $base-color-grey;
    background-color: $base-color-white;
  }
}

.input[type=submit] {
	&:hover {
	border: none;
    background-color: $main-theme-color-hover;
  }
  &:acvite {
    border: none;
    color:rgba(255, 255, 255, 0.3);
    background-color: $base-color-white;
  }
}