.map {
  margin-bottom: 10px;
  @media($tablet){
    margin-bottom: 0;
  }
}

.map__button {
  @mixin set-font calc(1.5 * $line),
  calc(2.15 * $line);

  margin: 20px auto;
  padding: 14px 0;
  max-width: 280px;
  width: 100%;
  background-color: $main-theme-color;
  color: $base-color-white;

  @media($tablet){
    max-width: 458px;
  }
  &:hover {
    background-color: $main-theme-color-hover;
  }
  &:acvite {
    color:red;
    background-color: $base-color-white;
  }
}

.map__view {
  display: flex;
  justify-content: center;
  min-height: 350px;
  width: auto;
  background-image: url(../img/bg-map-mobile@1x.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-color: #bfe0af;

  @media($tablet) {
    min-width: 768px;
    background-image: url(../img/bg-map-tablet@1x.jpg);
  }
  @media($desktop) {
    min-width: 1200px;
    background-image: url(../img/bg-map-desktop@1x.jpg);
  } 
}

