.opinion {
    padding-bottom: 15px;
  @media($tablet) {
    order: 0;
    width: 50%;
    text-align: left;
    padding-bottom: 0;
    box-shadow: 21px 0px 0px -20px #dbdbdb;
  }
  @media($desktop) {
    text-align: center;
    box-shadow: 1px 0px #dbdbdb;
  }
}

.opinion__title {
  margin-bottom: 25px;
  @media($tablet) {
    margin-bottom: 60px;
    padding-left: 80px;
  }
}