.page {
  @mixin set-font $line, calc($line * 1.5); /* размер шрифта - 14px, высота строки - 21px */

  text-transform: uppercase;
  font-family: $font-family-regular;

  @media ($desktop) {
  	background-color: $base-color-lightgrey;
  }
}
