.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  background-color: #fefefe;

  @media($tablet) {
    flex-direction: row;
    margin-top: -10px;
  }
  @media($desktop) {
    margin-top: 0px;
    padding-top: 0px;
  }
}

.page-footer__link {
  @mixin set-font calc($line * 1.5),
  calc($line * 1.5);

  color: $base-color-black;
  font-weight: 700;
}

.page-footer__link,
.page-footer__social,
.page-footer__copyright {
  flex-grow: 1;
  margin: 19px 0;
  text-align: center;

  @media($tablet) {
    margin: 33px 0;
    width: 33%;
  }
}

.page-footer__copyright {
  @media($desktop) {
    position: relative;
    right: 40px;
    text-align: right;
  }
}
