.perk {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom:17px;

  @media($tablet){
    flex-direction: row;
    margin: 0;
    margin-top: 25px;
    margin-bottom:26px;
  }
}

.perk__title {
  @mixin set-font calc($line * 1.25),
  calc($line * 1.75);

  margin-top: 10px;
  margin-bottom:14px;
  font-family: $font-family-bold;

  @media($tablet){
    @mixin set-font calc($line * 1.5),
    calc($line * 1.86);

    margin: 30px auto 20px auto;
  }
}

.perk__text {
  padding-bottom: 20px; @media($tablet){padding-bottom: 0;}
}

.perk__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 22px;
  padding-left: 50px;

  @media($tablet){
    margin: 30px 40px;
    padding-top: 70px;
    padding-left: 0px;
    width: 33.3%;
    text-align: center;
  }
  @media($desktop){
    margin: 50px 60px 60px 60px;
  }

  &--house {
    order:1;
    background-image: url(../img/icon-house.svg);
    background-position: -2px -1px;
    background-size: 37px 39px;
    background-repeat: no-repeat;

    @media($tablet){
      background-position: center top;
      background-size: 75px 72px;
    }
  }
  &--gift {
    order:2;
    background-image: url(../img/icon-gift.svg);
    background-position: 5px 0px;
    background-size: 32px 38px;
    background-repeat: no-repeat;

    @media($tablet){
      order: 3;
      background-position: center top;
      background-size: 64px 75px;
    }
  }
  &--burger {
    order:3;
    background-image: url(../img/icon-burger.svg);
    background-position: 0 0;
    background-size: 36px 36px;
    background-repeat: no-repeat;

    @media($tablet){
      order:2;
      background-position: center top;
      background-size: 76px 68px;
    }
  }
}
