.personality {
  padding-bottom: 5px;
  width: 100%;

  @media($tablet) {
    order: 1;
    width: 42%;
    box-shadow: none;
    text-align: left;
  }
}

.personality__title {
  @media($tablet) {
    margin-bottom: 60px;
  }
}

.personality__column {
  margin-bottom: 20px;
  width: 100%;
}

.personality__input {
  flex-grow: 1;
}

.personality__label {
  margin-right: 20px;
}
