.photo {
  padding-bottom: 15px;
  border-top: 1px solid rgba(1, 1, 1, 0.2);

  @media($tablet) {
    padding-bottom: 0;
    width: 50%;
    border-top: none;
    border-bottom: none;

    &:first-of-type {
      width: 100%;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  @media($tablet) {
    &:first-of-type .photo__img-box {
      max-height: 400px;
    }
    &:first-of-type .photo__like {
      right: 20px;
    }
  }
  @media($desktop) {
    position: relative;
    flex-grow: 1;
    width: 33.3%;
  }

  &:last-of-type {
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);

    @media($tablet) {
      border-bottom: none;
    }
  }
}

.photo__img-box {
  display: block;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
  line-height: 0;

  @media($tablet) {
    padding: 0px;
    max-height: 267px;
  }
}

.photo__img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.photo__caption {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 20px;

  @media($tablet) {
    align-items: center;
    padding: 19px 21px;
    background-color: $base-color-lightgrey;

    &--darker {
      background-color: #eaeaea;
    }
  }
  @media($desktop) {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.2);
    color: $base-color-white;
  }
}

.photo__caption-text {
  text-transform: none;
}

.photo__like {
  @mixin set-font $line,
  calc($line * 2);

  display: flex;
  padding-top: 10px;
  color: $base-color-black;
  font-weight: 700;

  @media($tablet) {
    position: absolute;
    top: 20%;
    right: 30px;
  }
  @media($desktop) {
    color: $base-color-white;
  }
}

.photo__like-count {
  padding-left: 15px;
}
