.photos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media($tablet) {
    flex-direction: row;
  }
}

@media($tablet) {
  .photos {
    flex-wrap: wrap;
    margin: 0 60px;
  }
}

@media($desktop) {
  .photos {
    margin: 0;
  }
}
