.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup__error,
.popup__success {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  background-color: $base-color-white;
  box-shadow: 0px 2px 8px 3px rgba(127, 122, 122, 0.12);
  text-align: center;
  transform: translate(-50%, -50%);
}

.popup__error {
  display: none;
  padding: 60px 50px 30px 50px;
  width: 300px;
}

.popup__success {
  display: none;

  @media($desktop) {
    top: 110%;
  }
}

.popup__success-input-wrapper {
  width: 100%;
  background-color: #e5e5e5;
}

.popup__success-text {
  padding: 25px 110px;
}

.popup__error--title,
.popup__success--title {
  @mixin set-font calc(2.15 * $line),
  calc($line * 2.75);

  margin: 20px;
  margin-top: 0;
  padding: 0 20px;
  font-family: $font-family-bold;
}

.popup__error--text,
.popup__success--text {
  @mixin set-font $line,
  calc($line * 1.75);

  margin: 0;
  margin-bottom: 10px;
}

.popup__success--text {
  width: 420px;
}

.popup__error-input,
.popup__success-input {
  @mixin set-font calc(1.5 * $line),
  calc($line * 2.15);

  padding: 14px 0;
  border: none;
  background-color: $main-theme-color;
  color: $base-color-white;
  text-transform: uppercase;

  &:hover {
    border: none;
    background-color: $main-theme-color-hover;
  }
  &:active {
    background-color: $main-theme-color-down;
    color: rgba(255, 255, 255, 0.3);
  }
}

.popup__error-input {
  margin: 20px auto;
  width: 270px;
}

.popup__success-input {
  margin: 45px 90px;
  padding: 14px 0;
}
