.social-link {
  position: relative;
  display: inline-block;
  margin-left: 3px;
  min-width: 46px;
  height: 48px;
  background-color: $main-theme-color;
  vertical-align: middle;
  font-size: 0;
  cursor: pointer;

  &:hover {
    background-color: $main-theme-color-hover;
  }
  &:active {
    background-color: $main-theme-color-down;
  }
}
