.text {
  margin: 0;
  margin-bottom: 14px;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }
  &--h1 {
    @mixin set-font $line,
    calc($line * 1.86);
  }
  &--number {
    @media($tablet) {
      margin-bottom: 21px;
    }
  }
}
