.title {
  @mixin set-font calc($line * 1.25),
  calc($line * 1.75);

  margin: 0;
  width: 100%;
  font-family: $font-family-bold;

  @media($tablet) {
    @mixin set-font calc(1.5 * $line),
    calc(1.86 * $line);
  }

  &--main {
    margin-bottom: 26px;
  }
  &--secondary {
    margin-bottom: 26px;

    @media($tablet) {
      @mixin set-font calc(2.15 * $line),
      calc($line * 1.86);
    }
  }
  &--h2 {
    margin-bottom: 18px;
  }
  &--h3 {
    @mixin set-font $line,
    calc(1.75 * $line);

    @media($tablet) {
      @mixin set-font $line,
      calc(1.5 * $line);
    }
  }
}
