.wrapper {
  margin: 0 auto;
  background-color:#fff;

  @media($desktop) {
    min-width: 728px;
  }
  @media($desktop) {
    width: 1200px;
    box-shadow: 0px 0px 10px 1px rgba(127, 122, 122, 0.47);
  }
}
