$font-family-regular: 'PT Sans', Helvetica, sans-serif;

$base-color-white:#ffffff;
$base-color-black:#000000;
$base-color-grey:#e5e5e5;
$base-color-lightgrey:#f2f2f2;

$main-theme-color:#81b3d2;
$main-theme-color-hover:#669ec0;
$main-theme-color-down:#5496bd;

$error-color:#ff5c5c;

$line:1rem;

$tablet: (min-width:768px);
$desktop: (min-width:1200px);

$retina: (min-resolution:144dpi) and (min-resolution:1.5dppx);