$font-family-regular: 'PT Sans', Arial, sans-serif;
$font-family-bold: 'PT Sans Bold', Arial, sans-serif;

$font-size-big: 18px;
$font-size-normal:14px;

$main-color-blue:#81b3d2;
$main-color-grey:#eeeeee;

$widht-content:280px;

$main-text-color:#000000;
$second-text-color:#333333;
$alternative-text-color:#ffffff;